<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>

    <title>Cliente</title>

</head>

<body>

    <input type="text" name="titulo" placeholder="Título" id='titulo'><br>
    <input type="text" name="artista" id="artista" placeholder="Artista"><br>

    <button id="btn">Cadastrar</button>




    <script>

        let titulo = document.getElementById('titulo')
        let artista = document.getElementById('artista')
        let btn = document.getElementById('btn')

        btn.onclick = function () {

            console.log(titulo.value)
            console.log(artista.value)

            axios.post('http://localhost:3000/cadastrar', {

                titulo: titulo.value,
                artista: artista.value
            }).then((res) => {

                if (res.status == 200) {

                    console.log('dados salvos')

                }
            }).catch((err) => {

                console.log(err)
            })

        }



    </script>
</body>

</html>