<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>

    <style>
        button {

            margin: 5px;
        }
    </style>
    <title>Cliente</title>

</head>

<body>

    <input type="text" name="titulo" placeholder="Título" id='titulo'><br>
    <input type="text" name="artista" id="artista" placeholder="Artista"><br>

    <button id="btn">Cadastrar</button>

    <hr>

    <h2>Dados das Músicas Salvas</h2>


    <ul id="lista"></ul>




    <script>

        let titulo = document.getElementById('titulo')
        let artista = document.getElementById('artista')
        let btn = document.getElementById('btn')
        let lista = document.getElementById('lista')


        function excluir(e) {



            let titulo = e.getAttribute('data-titulo')
            let artista = e.getAttribute('data-artista')

            console.log(titulo)
            console.log(artista)

        }




        axios.get('http://localhost:3000/visualizar').then((res) => {

            console.log(titulo)
            console.log(artista)



            let dados = res.data

            dados.forEach(element => {

                let item = document.createElement('li')

                item.innerHTML = `Título: ${element.titulo} \nArtista: ${element.artista}`

                lista.appendChild(item)

                item.setAttribute('data-titulo', element.titulo)
                item.setAttribute('data-artista', element.artista)

                let deletar = document.createElement('button')
                let editar = document.createElement('button')
                editar.innerHTML = 'Editar'
                deletar.innerHTML = 'Deletar'

                deletar.onclick = function () {

                    excluir(item)

                }



                item.appendChild(deletar)
                item.appendChild(editar)

            });

        })

        btn.onclick = function () {

            window.location.reload()

            console.log(titulo.value)
            console.log(artista.value)

            axios.post('http://localhost:3000/cadastrar', {

                titulo: titulo.value,
                artista: artista.value
            }).then((res) => {

                if (res.status == 200) {

                    console.log('dados salvos')

                }
            }).catch((err) => {

                console.log(err)
            })

        }



    </script>
</body>

</html>